
@include font-face("Betina Bold", font-files("Betina Script Rus Bold.ttf", "Betina Script Rus Bold.eot","Betina Script Rus Bold.svg","Betina Script Rus Bold.otf"));
@include font-face("MyriadPro-Semibold", font-files("MyriadPro-Semibold.ttf", "MyriadPro-Semibold.eot","MyriadPro-Semibold.svg","MyriadPro-Semibold.ttf"));
@include font-face("OfficinaSansBold", font-files("OfficinaSansBold.ttf", "OfficinaSansBold.eot","OfficinaSansBold.ttf"));
@include font-face("OfficinaSansBook", font-files("OfficinaSansBook.ttf", "OfficinaSansBook.eot","OfficinaSansBook.ttf"));
@include font-face("OfficinaSansBookItalic", font-files("OfficinaSansBookItalic.ttf", "OfficinaSansBookItalic.eot","OfficinaSansBookItalic.ttf"));
@include font-face("slick", font-files("slick.ttf", "slick.eot","slick.svg","slick.ttf"));

body{
	font-family: $base-font;	
	color: $base-font-color;
	font-size: $base-font-size;	
}
 b{
	 font-family: "OfficinaSansBold";
 }
h1,h2,h3,h4{
	font-family:"OfficinaSansBold";
	text-align: center;
	margin-bottom: 10px;

}
h1,h2{
	font-size: 44px;
	letter-spacing: -.04em;
}

h3{
	@include adjust-font-size-to(30px);
}
h4{
	font-size: 30px;
	margin-top: 25px;
	letter-spacing: -0.035em;
	&.green{
		color: #6ba927;
	}
}
h5{
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.02em;
	margin-bottom: 10px;
	&.purple{
		color: #af194e;
	}
	&.green{
		color: #6ba927;
	}
	&.italic{
		font-family: "OfficinaSansBookItalic";
	}
	&.upper{
		text-transform: uppercase;
	}

}

a{
	@include link-colors($normal, $hover);
	text-decoration: none;
}

p{
	&.betina{
		font-family: "Betina Bold";
		font-size: 50px;
		text-align: center;

		span{
			color: #f8daa6;
		}

	}
}
.brown{
	color: #f8daa6;
}
.brown2{
	color: #ddc69e;
	text-align: center;
}
.title{
	font-family:"OfficinaSansBold";
	font-size: 22px;
	text-align: center;
	letter-spacing:-0.02em;
}
a.green-link{
	color: #7cc030;
	font-size: 20px;
}