$footerH : 170px; /*Высота футтера*/
$headrH : 84px; /*Высота хедера*/
$base-font-size: 19px;
$base-line-height : 25px;
$base-font: "OfficinaSansBook";
$base-font-color : #fff;
$header-color : #000;
$footer-color : #000;
/*Цвет ссылок*/
$normal: #fff;
$hover : #fff;

[class^="ico-"]{
	display: inline-block;
}

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

//Названия бэков
//Пример заполнения (key1: value1, key2: value2, key3: value3);
$name : ('header':'', 'main':'', '1':'', '1-1':'','2':'', '3':'', '4':'', '5':'', '6':'', 'footer':'', 'fon':'png' )!default;